div#static{
    position: static;
    background-color: pink;
    border: 3px solid black ;
    padding: 20px;
    height: 400px;
    width: 250px;
    
}

div#relative{
    position: relative;
    background-color: pink;
    border: 3px solid black ;
    padding: 20px;
    height: 400px;
    width: 250px;
    left: 200px;
    top: 20px;
}


